@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: normal;
}

body {
  background-color: #131313;
}

main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 100px auto 0;
  width: fit-content;
  height: 635px;

  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 25px;
  overflow: hidden;
}

main.sunny {
  background-image: url('../img/sunny.jpeg');
}
main.cloudy {
  background-image: url('../img/cloudy.jpeg');
}
main.sunny {
  background-image: url('../img/sunny.jpeg');
}
main.overcast {
  background-image: url('../img/overcast.jpeg');
}
main.mist {
  background-image: url('../img/mist.jpeg');
}
main.rain {
  background-image: url('../img/rain.jpeg');
}
main.snow {
  background-image: url('../img/snow.jpeg');
}
main.sleet {
  background-image: url('../img/sleet.jpeg');
}
main.drizzle {
  background-image: url('../img/drizzle.jpeg');
}
main.thunder,
main.thundery {
  background-image: url('../img/thunder.jpeg');
}
main.blizzard {
  background-image: url('../img/blizzard.jpeg');
}
main.fog {
  background-image: url('../img/fog.jpeg');
}
main.ice {
  background-image: url('../img/ice.jpeg');
}
main.shower {
  background-image: url('../img/shower.jpeg');
}
main.showers {
  background-image: url('../img/showers.jpeg');
}
main.clear {
  background-image: url('../img/clear.jpeg');
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  padding: 40px;
  height: 100%;

  border-right: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(22.5px);
}

/* INPUT */
.search-container {
  width: 100%;
  padding-bottom: 6px;
  margin-bottom: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #ffffff;
}

.geo-input {
  all: unset;
  flex: 1;
  width: 100%;
  margin: 0 10px;

  color: rgba(255, 255, 255, 1);
  font-size: 13px;
}
.geo-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-btn {
  border: none;
  background: transparent;
  -webkit-appearance: none;
  height: 22px;

  cursor: pointer;
}

/* DAY STATS */
.day-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 60px;
  z-index: 2;
}
.day-stats__temperature {
  color: #fff;
  font-size: 50px;
  line-height: 100%;
}

.day-stats__temperature-value {
  line-height: 100%;
}
.day-stats__feelslike {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 6px;
}

.day-stats__conditions {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
  width: 100%;
}

.day-stats__conditions li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.day-stats__conditon {
  color: #fff;
  font-size: 24px;
  line-height: 100%;
}

.day-stats__conditon-text {
  color: #fff;
  font-size: 13px;
}

/* UV CONTAINER */
.uv-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.uv-header {
  color: #fff;
  font-size: 13px;

  display: flex;
  align-items: center;
}
.uv-header__value {
  font-size: 24px;
}
.uv-icon {
  filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.15));
}

.uv-stats {
  width: 100%;
  list-style: none;
}
.uv-stat {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.uv-stat div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.uv-stat__icon {
  margin-right: 6px;
}
.uv-stat__text {
  color: #fff;
  font-size: 13px;
  font-weight: 200;
}

.uv-value {
  color: #fff;
  font-size: 13px;
}

.side-blur {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/* MAIN CONTAINER */
.main-container {
  position: relative;
  width: calc(1079px - 250px);
  height: 530px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0 75px;

  background-image: url(../img/main-blur.png);
}

.secondary-title {
  margin-bottom: 17px;
  color: #fff;
  font-size: 13px;
}
.weather__primary-title {
  margin-bottom: 16px;
  color: #fff;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -1.9px;
}
.weather__location {
  display: flex;
  align-items: center;

  margin-bottom: 26px;
}

.location-icon {
  margin-right: 8px;
}
.weather__location-text {
  color: #fff;
  font-size: 13px;
}

.weather__primary-stats {
  width: 360px;
  color: #fff;
  font-size: 13px;

  margin-bottom: 80px;
}

/* FORECAST STATS */
.forecast {
  display: flex;
  justify-content: space-between;

  width: 100%;

  list-style: none;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast__time {
  color: #fff;
  font-size: 14px;
  margin-bottom: 4px;
}

.forecast__wind-text {
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
}

.forecast__temperature {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  line-height: 100%;
}

#chart {
  margin: 30px auto 30px;
  width: 100%;
}

/* MEDIA */

@media screen and (max-width: 1100px) {
  main {
    width: 779px;
  }

  .side-container {
    width: fit-content;
  }

  .geo-input {
    font-size: 10px;
  }

  .day-stats__temperature {
    font-size: 40px;
  }

  .day-stats__conditon {
    font-size: 20px;
  }

  .day-stats__conditon-text {
    font-size: 10px;
  }

  .uv-stat__text {
    font-size: 11px;
  }

  .forecast__time {
    font-size: 12px;
  }

  .forecast__wind-text {
    font-size: 10px;
    text-align: center;
  }

  .forecast__temperature {
    font-size: 22px;
    margin-bottom: 10;
  }
}

@media screen and (max-width: 800px) {
  main {
    width: 490px;
  }

  .main-container {
    width: 100%;
    padding: 0 30px;
  }

  .weather__location {
    width: 200px;
    margin-bottom: 16px;
  }

  .weather__primary-stats {
    width: 200px;
    margin-bottom: 40px;
  }

  .forecast {
    flex-wrap: wrap;
  }

  .forecast__temperature {
    font-size: 14px;
  }

  .forecast__wind-text {
    font-size: 8px;
    width: 30px;
  }
}
